html {
  font-family: "Varela Round", "Open Sans", "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 2.0;
}

.sidebar {
    background-image: url("/public/images/congruent_outline.png"); 
}

.sidebar-about h1 {
    font-family: 'Sacramento', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding: 15px 0 0 0;
}

.lead {
    font-size: 1rem;
    line-height: 1.8;
}

.profile-img {
    border-radius:125px;
    width:180px;
    margin: auto;
    border: 6px solid #FFFFFF;
}

.small {
    font-size:0.8rem;
}

/*h1 {
    font-family: 'Inconsolata', 'Open Sans', sans-serif;
}*/

/*font-family: 'Open Sans', sans-serif;
font-size: 16px;
padding: 5px 0;*/
